# Local configuration for meta-rpi64 images
# Yocto Project 4.1 Poky distribution [langdale] branch
# This is a systemd system

LICENSE_FLAGS_ACCEPTED = "commercial"

DISTRO_FEATURES = "ext2 security systemd usbhost ${DISTRO_FEATURES_LIBC}"

DISTRO_FEATURES_BACKFILL_CONSIDERED += "pulseaudio sysvinit"

DISTRO_FEATURES:remove = "ptest"

INIT_MANAGER = "systemd"

MACHINE_FEATURES:remove = "apm vc4graphics vfat"

IMAGE_FSTYPES = "tar.xz"

MACHINE = "raspberrypi4-64"

KERNEL_IMAGETYPE = "Image"

DISABLE_OVERSCAN = "1"
# ENABLE_UART = "1"
SERIAL_CONSOLES = "115200;ttyS0"

# PREFERRED_VERSION_linux-raspberrypi = "5.15.%"

#DL_DIR = "/oe/dl/kirkstone"
#SSTATE_DIR = "/oe/rpi64/sstate-cache"
#TMPDIR = "/oe/rpi64/tmp"

DISTRO = "poky"
PACKAGE_CLASSES = "package_ipk"

# i686 or x86_64
SDKMACHINE = "x86_64"

# for no root passwd uncomment the following and comment the two extra user lines
EXTRA_IMAGE_FEATURES = "debug-tweaks"

PATCHRESOLVE = "noop"
RM_OLD_IMAGE = "1"
INHERIT += "rm_work"
CONF_VERSION = "2"
