# Local configuration for meta-rpi64 images
# Yocto Project 3.3 Poky distribution [hardknott] branch
# This is a systemd system

LICENSE_FLAGS_WHITELIST = "commercial"

DISTRO_FEATURES = "ext2 systemd usbhost ${DISTRO_FEATURES_LIBC}"

DISTRO_FEATURES_BACKFILL_CONSIDERED += "pulseaudio sysvinit"

DISTRO_FEATURES_remove = "ptest"

INIT_MANAGER = "systemd"

MACHINE_FEATURES_remove = "apm vc4graphics"

IMAGE_FSTYPES = "tar.xz"

MACHINE = "raspberrypi4-64"

KERNEL_IMAGETYPE = "Image"

DISABLE_OVERSCAN = "1"
# ENABLE_UART = "1"
SERIAL_CONSOLES = "115200;ttyS0"

PREFERRED_VERSION_linux-raspberrypi = "5.10.%"

# DL_DIR = "/src/hardknott"
# SSTATE_DIR = "/oe8/rpi64/sstate-cache"
# TMPDIR = "/oe8/rpi64/tmp-hardknott"

DISTRO = "poky"
PACKAGE_CLASSES = "package_ipk"

# i686 or x86_64
SDKMACHINE = "x86_64"

# for no root passwd uncomment the following and comment the two extra user lines
# EXTRA_IMAGE_FEATURES = "debug-tweaks"

# for a root passwd, change jumpnowtek below to your password
INHERIT += "extrausers"
EXTRA_USERS_PARAMS = "usermod -P jumpnowtek root; "

# this will force root to change password on first login
INHERIT += "chageusers"
CHAGE_USERS_PARAMS = "chage -d0 root; "

USER_CLASSES = "image-mklibs image-prelink"
PATCHRESOLVE = "noop"
RM_OLD_IMAGE = "1"
INHERIT += "rm_work"
CONF_VERSION = "1"
